.mySwiper {
  height: 150px;
  display: flex;
  align-items: center !important;
}

.mySwiper .swiper-slide {
  width: fit-content;
}

@media (max-width: 500px) {
  .mySwiper {
    height: 70px !important;
  }
}

@media (max-width: 768px) {
  .mySwiper {
    height: 70px !important;
  }
}

@media (max-width: 991px) {
  .mySwiper {
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .mySwiper {
    height: 120px;
  }
}

@media (min-width: 1200px) {
  .mySwiper {
    height: 130px;
  }
}

@media (min-width: 1400px) {
  .mySwiper {
    height: 140px !important;
  }
}
