.mySwiper {
  height: 150px;
}

.mySwiper .swiper-slide {
  width: fit-content;
}

@media (max-width: 500px) {
  .mySwiper {
    height: 50px;
  }
}

@media (max-width: 768px) {
  .mySwiper {
    height: 50px;
  }
}

@media (max-width: 991px) {
  .mySwiper {
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .mySwiper {
    height: 80px;
  }
}

@media (max-width: 1400px) {
  .mySwiper {
    height: 110px;
  }
}
